#spawn_image {
    max-width: 600px;
    max-height: 400px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.section {
    margin-left: 20px; 
}

.short {
    width: 20px;
}

input {
    font-size: 12px;
}

.mid {
    width: 40px;
}

.long {
    width: 100px;
}

span {
    font-size: 12px;
}

.input_label { 
    margin-left: 15px;
    margin-right: 5px;
}

.button_container {
    text-align: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px; 
}

